
#pokemons {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin-top: 2rem;
  padding: 2rem;
}

.card{
  padding: 30px;
  background: rgba(0,0,0,0.1);
  display: grid;
  justify-items: center;
  border-radius:30px; 
  opacity: 0.8;
  width: 90%;
  filter: grayscale(80%);
}

.card:hover {
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  transition: linear 0.2s;
}

.card p {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
}

#popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

#popup > div {
    width: 400px;
    height: 500px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
    font-weight: 800;
}

#popup img {
    width: 80%;
}

#popup button {
    position: absolute;
    top: 2rem;
    right: 2rem;
    outline: none;
    border: 0;
    background-color: #fff;
    font-size: 30px;
}
#popup button:hover {
    color: #f00;
}

@media only screen and (min-width: 460px){
  #pokemons {
    grid-template-columns: 1fr 1fr;
  }

  #popup > div {
    width: 580px;
  }
  
}

@media only screen and (min-width: 768px) {
  #pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
}